@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-bg-color {
    background-color: #6A9C75;
}